path_add GUIX_PACKAGE_PATH /home/ayats/Documents/guix-hpc #FIXME

eval "$(guix time-machine -C ./channels.locked.scm -q -- shell -m ./manifest.scm --search-paths)"

watch_file manifest.scm
watch_file channels.locked.scm
