path_add GUIX_PACKAGE_PATH /home/ayats/Documents/guix-hpc #FIXME

path_add GUIX_PACKAGE_PATH "$PWD/guix"

eval "$(guix shell -D bench-in-situ --search-paths)"

# eval "$(guix time-machine -C ./channels.locked.scm -q -- shell -m ./manifest.scm --search-paths)"
